<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vehicle Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="http://resource/client/events/html/shared/vue.js"></script>
    <script src="http://resource/client/events/html/shared/vue-scrollto.js"></script>
</head>
<body>
    <div id="app" v-if="visible">
        <div class="title">
            <a v-on:click="close()">X</a>
            <span>Visual Vehicle Spawner</span>
        </div>
        <div class="categories">
            <template v-for="(category, index) in categories">
                <div class="category" v-scroll-to="{ el: '#scroll-'+index, container: '.items' }">
                    <img :src="'assets/categories/'+index+'.webp'" loading="lazy" referrerpolicy="no-referrer" alt="+index+"></img>
                    {{ category }}
                </div>
            </template>
        </div>
        <div class="items">
            <div class="container">
                <div class="search">
                    <input type="text" v-model="keyword" placeholder="Search..." spellcheck="false">
                </div>
                <template v-if="keyword.length > 0">
                    <div id="scroll-0">
                        <hr data-content="Results"></hr>
                        <template v-for="item in storage">
                            <a class="item" v-on:click="select(item.model)">
                                <img :src="'assets/models/'+item.model+'.webp'" loading="lazy" referrerpolicy="no-referrer" alt="+item.model+"></img>
                                {{ item.model }}
                            </a>
                        </template>
                    </div>
                </template>
                <template v-else>
                    <template v-for="(category, index) in categories">
                        <div v-bind:id="'scroll-'+index">
                            <template v-if="index > 0">
                                    <hr v-bind:data-content="category"></hr>
                                    <template v-for="item in models">
                                        <template v-if="item.category === index">
                                            <a class="item" v-on:click="select(item.model)">
                                                <img class="lazy" :src="'assets/models/'+item.model+'.webp'" loading="lazy" referrerpolicy="no-referrer" alt="+item.model+"></img>
                                                {{ item.model }}
                                            </a>
                                        </template>
                                    </template>
                            </template>
                        </div>
                    </template>
                </template>
            </div>
        </div>
    </div>
    <script src="scripts/app.js"></script>
	<script src="http://resource/client/events/html/shared/alt.js"></script>
</body>
<footer>
    <link rel="stylesheet" href="http://resource/client/events/html/shared/default.css" media="print" onload="this.media='all'">
</footer>
</html>